@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@layer components {
  .green-btn {
    @apply bg-blue-600 flex justify-center items-center w-36 h-12 
        text-sm text-[white] font-bold font-Roboto rounded-lg hover:bg-blue-700;
  }
  .red-btn {
    @apply bg-red-600 flex justify-center items-center w-32 h-16 text-[white] font-bold rounded-xl hover:bg-red-700;
  }

  .input-style {
    @apply rounded-lg border border-gray-300 px-4 py-2 w-full text-gray-700 text-lg placeholder-gray-400 focus:border-blue-600 focus:ring-1 focus:ring-blue-600 focus:outline-none transition-all;
  }

  .green-txt {
    @apply text-gray-600 text-lg font-Roboto font-bold max-lg:text-sm;
  }
  .green-text {
    @apply font-Roboto text-gray-600 text-2xl font-bold py-2;
  }
  .green-label {
    @apply text-primary text-xl pr-4;
  }
  .text-login {
    @apply text-gray-500 font-Roboto text-lg;
  }
  .table-data {
    @apply text-gray-600 text-center py-5 font-Roboto text-lg px-6;
  }
  .green-title {
    @apply text-primary font-Roboto text-4xl font-bold;
  }
}
