@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@layer components{
    .green-btn{
        @apply bg-primary flex justify-center items-center w-40 h-16 
        text-xl text-[white] font-bold font-Roboto rounded-3xl hover:bg-DarkGreen;
    }
    .red-btn{
        @apply bg-red-600 flex justify-center items-center w-44 h-16 
        text-xl text-[white] font-bold font-Roboto rounded-3xl hover:bg-red-900;
    }
    .input-style{
        @apply rounded-lg border-2 border-primary p-1 px-2 w-72 h-12 text-primary text-xl;
    }
    .green-txt{
        @apply text-primary text-lg font-Roboto font-bold max-lg:text-sm ;
    }
    .green-text{
        @apply font-Roboto text-primary text-2xl font-bold py-3;
    }
    .green-label{
        @apply text-primary text-xl pr-4;
    }
    .text-login{
        @apply text-primary font-Roboto font-bold text-3xl  ;
    }
    .table-data{
        @apply text-primary text-center py-5 font-Roboto text-lg px-6 py-4
    }
    .green-title{
        @apply text-primary font-Roboto text-4xl font-bold  
    }
}